<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <script type="text/javascript" src="js/gitgraph.js"></script>


        <title>Miguel Andrade</title>
    </head>

    <body> 

        <section id="follow-scroll">
            <ul class="nav flex-column custom-nav">
            <!--<ul class="nav flex-column">-->
                <li class="nav-item custom-nav-item">
                    <a class="nav-link active" href="#">01</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="#">02</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="#">03</a>
                </li>
                <li class="nav-item custom-nav-item">
                    <a class="nav-link" href="#">04</a>
                </li>
            </ul>
        </section>
        
        <section id="cover">
            <img src="img/cover_photo.png" alt="Cover Photo">
            <nav id="custom-navbar" class="navbar navbar-expand-lg uppercase">          
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="#">About</a>
                        <a class="nav-link" href="#">Portfolio</a>
                        <a class="nav-link" href="#">Contacts</a>
                    </div>
                </div>
            </nav>
            <div class="jumbotron custom-jumbotron">
                <h1 class="display-2">&#60;Hello World/&#62;</h1>
                <p class="lead custom-lead">&#123; "I'm Miguel Andrade" &#125;</p>                
                <p class="uppercase">( 'Software Engineer' )</p>
            </div>
            <div id="social-media">
                <a href="#"><img class="icon" src="img/icons/linkedin.png" alt="Linkedin"></a>
                <a href="https://github.com/miguel1996/" target="_blank"><img class="icon" src="img/icons/github.png" alt="Github"></a>
            </div>
    	</section>    

        <section id="about" class="flex-container">
            <div class="jumbotron custom-jumbotron flex-child">
                <h2 class="uppercase">&#60;About/&#62;</h2>
                <div class="json-mockup">
                    <p class="json-mockup-bracket">&#123;</p>
                    <div class="json-mockup-items">
                        <p><span class="json-mockup-key">"Name"</span>: "Miguel Andrade",</p>
                        <p><span class="json-mockup-key">"Career"</span>: "Software Engineer",</p>
                        <p><span class="json-mockup-key">"Spoken Languages"</span>: ["Portuguese", "English"],</p>
                        <p><span class="json-mockup-key">"About"</span>: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                    </div>
                    <p class="json-mockup-bracket">&#125;</p>
                </div>
            </div>
            <div id="graph-container" class="flex-child">                
                <script type="text/javascript" src="js/graph.js"></script>
            </div>
        </section>      

    </body>
</html>