ul.timeline {
    margin-top:10vh;
    margin-right:10vw;
    list-style-type: none;
    position: relative;
    border-right-color: #ffffff;
	border-right-style: solid;
	border-width: thin;
}
ul.timeline:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 12pt;
    text-align: right;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0056b3;
    right: -10px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline .date{
	margin-right:2vw;
    position: absolute;
    right: -180px;
}
ul.timeline:hover + .hide{
    top:15vh;
    right:0;
    position: absolute;
    display: block;
}
.hide{    
    display: none;
    width: 40vw;
    background: #232323;    
    border-radius: 0.3rem;       
    z-index: 1000;
}
.hide h5, .hide p{    
    padding: 1vh 1vw 1vh 1vw; 
    font-size: 12pt;
    text-align: justify;
}
.hide h5{
    border-radius: 0.3rem 0.3rem 0 0;
    background: #0056b3;
    border-bottom: 1px solid #ffffff;
    font-weight: 600;
}
.hide p{
    padding-bottom: 0;
    padding-top: 0;
}