.btn-primary:hover,
.btn-primary:focus {    
    background-color: #0056b3;
    border-color: #0056b3;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    font-weight: 600;
    width: 10%;
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
}

section {
    /*padding: 60px 0;*/
}

section .section-title {
    text-align: center;
    color: #007b5e;
    /*margin-bottom: 50px;*/
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #0056b3;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .5rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.backside .card a {
    font-size: 18px;
    color: #0056b3 !important;
}

.backside .card .card-body{
    padding: 0% 5%;
    font-size: 14pt;
    font-weight: 500;
}

.backside .card .card-title{
    color: #0056b3 !important;
}

.frontside .card .card-title{
    position: absolute;
    bottom: 0;
    background: rgba(28, 28, 28, 0.5);   
    z-index:2;
    text-align:center;
    border-radius: 0 0 0.5rem 0.5rem;
    width: 100%;
    padding: 3% 0;
    margin-bottom: 0;    
    color: #ffffff !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    font-weight:600;
    text-shadow: 1px 1px #262626;    
}

.card-body{
    background-size:100% 100% !important;
    border-radius: 0.5rem;
    padding: 0;
    overflow: visible;
}

.card{
    height: 30vh;
    background: #232323;
    border-radius: 0.5rem;
    position: relative;
}

.custom-container{
    margin-top: 5vh;
    margin-bottom: 0vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.list-inline{
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    bottom:0.5vh;
}

.custom-row{
    flex-direction: row;
    justify-content: center;
}

.custom-col{
    flex: 0 0 50%;
    max-width: 50%;
}