body {
	background-color: #000000;
	background-repeat: no-repeat;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2pt;	
	font-size: 15pt;
	margin: 7.5vh 6vw 7.5vh 7vw;
}

hr{
	background-color: #ffffff;
}

body, a{
	color: #ffffff;
}

h1{
	font-weight: 700 !important;
}

h2{
	font-size: 40pt;
}

p{
	margin-top: 2vh;
	font-weight: 100;
	line-height: 1.6;
}

textarea{
	width: 100%; 
}

section{
	height: 100vh;
}

path{
	stroke-width: 5;
}

footer{
	text-align:center;
	font-size: 12pt;
}

.uppercase{
	text-transform: uppercase;
}

.half-jumbotron, .full-jumbotron{	
	background: transparent;
}

.half-jumbotron{
	width: 50vw;
}

#cover .half-jumbotron{
	padding-top: 30vh;	
	text-align: right;
}

#custom-navbar{
	float: right;
	font-weight: 600;
}

#custom-navbar a{
	margin-left: 12vh;
}

.custom-lead{
	font-size:25pt;
	font-weight: 500;
}

.json-mockup{
	margin-top: 10vh;
}

.json-mockup-items{
	margin-left:2vw;	
}

.json-mockup-bracket, .json-mockup p{	
	font-weight: 500;
	font-size: 12pt;
	padding-top: 0.5vh;
}

.highlight{
	color: #0056b3 ;
	font-weight: 500;
}

.custom-nav-item{
	margin-top: 1vh;
	margin-bottom: 1vh;
}

#cover > img{
	width: 100vw;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1000;
}

#side-nav{
	position: fixed;
    top: 35vh;
    left: 3.5vw;
    font-weight: 500;
    font-size: 15pt;
    margin-right: 2vw;
}

.icon{
	height: 5vh;
	margin-right:0.5vh;
	margin-left:0.5vh;
}

.icon:hover{
	border-color: #0062cc;
	border-width: 3px;
	border-style: solid;
	border-radius: 1.5rem;
}

#social-media .icon{
	display:block;
	margin-bottom: 3.5vh;
}

#social-media{
	float:right;
	margin-top: 8vh;
}

.flex-container{
	display: flex;
}

.flex-child{
	width:35vw;
	flex: 1;
}

#graph-container{
	margin-top: 13vh;
}

.custom-carousel{
	border: 1px solid #000000;
    border-radius: 0.5rem;
	background: #000000;
	margin-left:auto;
	margin-right:auto;
	display: block;
	margin-top: 8vh;
	width: 70vw;
	text-shadow: 2px 2px 2px #000000;
}

.custom-carousel img{
	height: 70vh;
	border: 1px solid #000000;
    border-radius: 0.3rem;
}

.custom-carousel h5{
	font-size: 20pt;
}

.custom-carousel p, h5{
	font-weight: 500;
	z-index: 1000;
	position:relative;
}

#final{
	height: 80vh;
	margin-top: 10vh;
}

#final .highlight{
	text-align: center;
}

.foggy{
	border: 1px solid #000000;
    border-radius: 0.3rem;
	bottom: 0px;
	z-index:1;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #0056b3;
	opacity: 0.2;
}

.fade-in{
	opacity:0.0;
}

#title{
	padding-left:6vw;
	text-align: left;
}

#title h1{
	display: inline;
}

.active{
    color: #0056b3;
}

.custom-toast{
	background-color: #000000;
	z-index:1000;
	position: fixed; 
	top: 10vh; 
	right: -50vh;
}

.custom-toast .toast-header{
	border-radius:0.3rem 0.3rem 0 0;
	color: #ffffff;
	background-color: #0062cc;
	border: none;
}

.custom-toast .toast-body{
	border-radius:0 0 0.3rem 0.3rem;
	background-color: #232323;
}